.emotionBtn {
    margin: 0.2em 0.4em;
    border: none;
    /* background-color: rgb(236, 240, 241); */
    background-color: #022B3A;
    color: white;
    border-radius: 10px;
    font-size: 0.9em;
}

.emotionBtnClick {
    background-color: #FFF9A5;
    color: black;
    font-size: 0.9em;
}